@model TongHopCongViewModels.TongHopCongViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TongHopCong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KyLuongThang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KyLuongThang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KyLuongNam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KyLuongNam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayCong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioTangCaNgayThuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioTangCaNgayThuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioTangCaCuoiTuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioTangCaCuoiTuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioTangCaNgayLe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioTangCaNgayLe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayNghiPhep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayNghiPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaTHC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
