@model ChiTietPhuCapViewModels.ChiTietPhuCapViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChiTietPhuCap</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayApDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayApDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaCTPC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
