@model IEnumerable<ChiTietPhuCapViewModels.ChiTietPhuCapViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayApDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayApDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCTPC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCTPC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCTPC">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
