@model BangLuong.Data.Entities.HopDong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuongCoBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapAnTrua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapAnTrua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapXangXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapXangXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapTrachNhiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapTrachNhiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCapKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCapKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.MaNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
