@using static BangLuong.ViewModels.HopDongViewModels

@model PaginatedList<HopDongViewModel>

@{
    ViewData["Title"] = "Hợp Đồng";
    var prevDisabledClass = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabledClass = !Model.HasNextPage ? "disabled" : "";
}

<h1  class="text-center">Hợp Đồng</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-action="Index" method="get" class="mb-3">
    <div class="d-flex">
        <input class="form-control me-2" placeholder="Search..." 
               value="@ViewData["CurrentFilter"]" name="searchString" autocomplete="off" />
        <button type="submit" class="btn btn-secondary">Search</button>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model[0].SoHopDong)</th>
            <th>@Html.DisplayNameFor(model => model[0].LoaiHD)</th>
            <th>@Html.DisplayNameFor(model => model[0].NgayBatDau)</th>
            <th>@Html.DisplayNameFor(model => model[0].NgayKetThuc)</th>
            <th>@Html.DisplayNameFor(model => model[0].LuongCoBan)</th>
            <th>@Html.DisplayNameFor(model => model[0].PhuCapAnTrua)</th>
            <th>@Html.DisplayNameFor(model => model[0].PhuCapXangXe)</th>
            <th>@Html.DisplayNameFor(model => model[0].PhuCapDienThoai)</th>
            <th>@Html.DisplayNameFor(model => model[0].PhuCapTrachNhiem)</th>
            <th>@Html.DisplayNameFor(model => model[0].PhuCapKhac)</th>
            <th>@Html.DisplayNameFor(model => model[0].TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model[0].MaNV)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.SoHopDong)</td>
                <td>@Html.DisplayFor(modelItem => item.LoaiHD)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayBatDau)</td>
                <td>@Html.DisplayFor(modelItem => item.NgayKetThuc)</td>
                <td>@Html.DisplayFor(modelItem => item.LuongCoBan)</td>
                <td>@Html.DisplayFor(modelItem => item.PhuCapAnTrua)</td>
                <td>@Html.DisplayFor(modelItem => item.PhuCapXangXe)</td>
                <td>@Html.DisplayFor(modelItem => item.PhuCapDienThoai)</td>
                <td>@Html.DisplayFor(modelItem => item.PhuCapTrachNhiem)</td>
                <td>@Html.DisplayFor(modelItem => item.PhuCapKhac)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                <td>@Html.DisplayFor(modelItem => item.MaNV)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaHD" class="btn btn-warning btn-sm" title="Edit">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a> 
                    <a asp-action="Details" asp-route-id="@item.MaHD" class="btn btn-info btn-sm text-white" title="Details">
                        <i class="fa fa-info-circle"></i>
                        Detail
                    </a> 
                    <a asp-action="Delete" asp-route-id="@item.MaHD" class="btn btn-danger btn-sm" title="Delete">
                        <i class="fa fa-trash-alt"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <a asp-action="Index" 
       asp-route-pageNumber="@(Model.PageIndex - 1)" 
       asp-route-currentFilter="@ViewData["CurrentFilter"]" 
       class="btn btn-outline-primary @prevDisabledClass">
        Previous
    </a>

    <span>Page @Model.PageIndex of @Model.TotalPages</span>

    <a asp-action="Index" 
       asp-route-pageNumber="@(Model.PageIndex + 1)" 
       asp-route-currentFilter="@ViewData["CurrentFilter"]" 
       class="btn btn-outline-primary @nextDisabledClass">
        Next
    </a>
</div>
