@model ThamSoHeThong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThamSoHeThong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThamSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThamSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayApDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayApDung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaTS">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
