@model IEnumerable<ChiTietKyLuatViewModels.ChiTietKyLuatViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayViPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayViPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LyDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCTKL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCTKL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCTKL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
