@model IEnumerable<BangTinhLuong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KyLuongThang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KyLuongNam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongCoBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongPhuCap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongKhenThuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongTangCa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongThuNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamTruBHXH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamTruBHYT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamTruBHTN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongGiamTruKyLuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamTruThueTNCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThucLanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KyLuongThang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyLuongNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongCoBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongPhuCap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongKhenThuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongTangCa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongThuNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamTruBHXH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamTruBHYT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamTruBHTN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongGiamTruKyLuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamTruThueTNCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThucLanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.MaNV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
